@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-body: #9ab4ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #0f151b;
  }
}

body {
  background-color: var(--bg-body);
}
